*{
  box-sizing: border-box;
  padding: 0;
}

.App {
  text-align: center;
}

.container {
   display: grid;
   max-width: 900px;
   position: relative;
   margin: auto;
   grid-template-areas: "retrieve-Form retrieve-Form"
                        "pet pet";
   grid-template-columns: repeat(autofill, minmax(100px, 1fr));
   grid-gap: 20px 5px;
   font-size: 14px;
   color: dodgerblue;
 }

 .pet {
   grid-area: pet;
   color: green;
   border-radius: 10px;
   background-image: linear-gradient(to right top, #8b661f, #a37f41, #bb9961, #d2b483, #ead0a6);
   text-align: center;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0);
 }

.pet h4{
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: white;

}
 .retrieve-Form {
   grid-area: retrieve-Form;
 }

 .retrieve-Form label {
   display: block;
   text-align: left;
   width: 70px;
  }
  .retrieve-Form h2 {
    text-align: left;
  }

  .retrieve-Form input,
  .retrieve-Form  select {
    font-size: 12px;
    margin-bottom: 30px;
    width: 200px;
    height: 20px;

  }

.retrieve-Form button{
  display: block;
  font-size: 12px;
  background-color: dodgerblue ;
    padding: 5px 25px;
    color: white;
}

.image-container {
    clip-path: circle(50% at 50% 50%);
    width: 100px;
    height: 100px;
    float: left;
    margin: 20px 20px 0px 10px;
  }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
